* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #D2B89C, #e8d3b5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background: #f5e6d3;
    padding: 25px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.topo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    width: 50px;
}

h1 {
    color: #7A2E1F;
    font-size: 18px;
    margin: 0;
}

.conteudo {
    margin-top: 25px;
    text-align: center;
}

.descricao {
    font-size: 13px;
    color: #7A2E1F;
    margin-bottom: 8px;
}

/* TEXTAREA */
textarea {
    width: 100%;
    min-height: 80px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #B89A7A;
    margin-bottom: 15px;
    font-size: 14px;
    resize: none;
    overflow: hidden;
    outline: none;
}

textarea:focus {
    border-color: #7A2E1F;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #D83A2E;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b83228;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    color: #7A2E1F;
    font-weight: bold;
}

button.loading {
    background-color: #999;
    cursor: not-allowed;
}

@keyframes piscar {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

.animando {
    animation: piscar 0.5s infinite;
}

@media (max-width: 480px) {
    h1 {
        font-size: 16px;
    }

    #resultado {
        font-size: 18px;
    }
}